@import '../../stylus/index.styl'

.Default
  position relative
  z-index 5
  &__main
    max-width 47.5rem
    margin 0 auto
    padding 1.875rem 0 0
    +above($tablet)
      padding 3.4375rem 0 // 55px
