.Footer
  padding 30px 15px
  font-weight 300
  display block
  background-color #039be5
  margin-top 60px

  &__inner
    display flex
    max-width 75rem
    margin 0 auto
    align-items center
    justify-content space-between

  &__logo
    display inline-block
    margin-right 25px

  &__column
    display flex
    align-items center
    justify-content flex-start

  &__text
    font-size 14px
    font-weight 100
    color #fff
    margin 0
    a
      color rgba(#fff, .65)
      border-bottom 1px solid rgba(#fff, .65)
      transition all .12s ease-in-out
      &:hover
        border-bottom-color #fff
        color #fff

  &__copy
    width 100%
    height 30px
    border-radius 3px
    background-color rgba(0, 0, 0, .12)
    margin-top 5px
    font-size 9px
    font-weight 100
    text-align right
    border-bottom 0px none
    color rgba(#fff, 0.9)
    padding 15px
    display flex
    align-items center
    justify-content center
    transition color .12s ease-in-out
    &:hover
      color #fff
    span
      margin-right 5px

